.title {
    display: flex;
    justify-content: center;
    font-size: 60pt;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(14, 165, 82);
}

body {
    /* background-image: url("../assets/images/Flat\ Night\ 2\ BG.png"); */
    background-size: cover;
}

#myCanvas {
    /* background-image: url("../assets/images/Flat\ Night\ 2\ BG.png");
    background-size: cover; */
    background-image: url("../assets/images/rgbCanvas.png");
    background-size: cover;
    
   
}

.canvasDiv {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0;
}

.startButton {
  opacity:    0.5; 
  background: #000; 
  width:      100%;
  height:     100%; 
  z-index:    10;
  top:        0; 
  left:       0; 
  position:   absolute; 
}

html {
   background-color: #311d3e;
   /* background-color: 322758; */
}